################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/TRABALHO GRAFOS/.vs/TRABALHO GRAFOS/FileContentIndex
